<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This Event</title>
    <link rel="stylesheet" href="assets/style.css">
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const navCheck = document.querySelector('#nav-check')
            const navLinks = document.querySelector('.nav-links')

            const navLinksArray = document.querySelectorAll('.nav-links a')
            navLinksArray.forEach(link => {
                link.addEventListener('click', function() {
                    navCheck.checked = false
                })
            })

            navCheck.addEventListener('change', function() {
                if (navCheck.checked) {
                    navLinks.style.height = 'calc(100vh - 50px)'
                    navLinks.style.overflowY = 'auto'
                } else {
                    navLinks.style.height = '0'
                }
            })
        })
    </script>
</head>
<body>
    <header>
        <div class="nav">
            <div class="nav-logo-links">
                <div class="nav-header">
                    <div class="nav-title"><a href="/"><img src="assets/images/logo.png" alt=""></a></div>
                </div>
                <div class="nav-links">
                    <a onclick="closeNav()" href="#home">Home</a>
                    <a onclick="closeNav()" href="#about">About</a>
                    <a onclick="closeNav()" href="#agenda">Agenda</a>
                    <a onclick="closeNav()" href="#speakers">Speakers</a>
                    <a onclick="closeNav()" href="#venue">Venue</a>
                    <script>
                        function closeNav() {
                            const navLinks = document.querySelector('.nav-links')
                            navLinks.style.height = '0'
                        }
                    </script>
                </div>
            </div>
            <div class="nav-logo-links">
                <button id="showButton" class="showButton"><img src="assets/images/chat.png" alt=""></button>
                <a href="/register#register" class="register_btn">Register</a>
                <section id="contactSection" class="contact-section">
                    <h2>Contact Us</h2>
                    <p>For inquiries, contact us at:</p>
                    <p>Email: <a href="mailto:info@example.com">info@example.com</a></p>
                    <p>Phone: <a href="tel:+123456789">+1 234 567 89</a></p>
                </section>
                <script>
                    document.getElementById('showButton').addEventListener('click', function() {
                        var contactSection = document.getElementById('contactSection');
                        if (contactSection.style.display === 'none' || contactSection.style.display === '') {
                            contactSection.style.display = 'block'; // Show the contact section
                        } else {
                            contactSection.style.display = 'none'; // Hide the contact section
                        }
                    });
                </script>
                <div class="nav-btn">
                    <label for="nav-check"><img src="assets/images/nav.png" alt=""></label>
                </div>
                <input type="checkbox" id="nav-check">
            </div>
        </div>
    </header>
    <% if(success){ %>
        <p id="success-message" class="success">
            <strong><%= message %></strong>
        </p>
        <script>
            function hideSuccessMessage() {
                const message = document.getElementById('success-message')
                if (message) {
                    setTimeout(() => {
                        message.style.opacity = '0'
                        setTimeout(() => {
                            message.style.display = 'none'
                        }, 600)
                    }, 6000)
                }
            }
            hideSuccessMessage()
        </script>
    <% } %>    
    <div id="home">
        <div class="home_container">
            <div class="home__ title__">
                <h1>My Awesome Event</h1>
                <h3>My Event is gonna be awesome and amazing. Make sure you register and atend</h3>
            </div>
            <div class="home__ date__">
                2<sup>nd</sup> September 2024 | 08:00 AM | MY VENUE
            </div>
        </div>
    </div>
    <div class="countdown" data-count="2024/09/02">
        <div>
            <h3>%d</h3>
            <h4>Days</h4>
        </div>
        <div>
            <h3>%h</h3>
            <h4>Hours</h4>
        </div>
        <div>
            <h3>%m</h3>
            <h4>Minutes</h4>
        </div>
        <div>
            <h3>%s</h3>
            <h4>Seconds</h4>
        </div>
        <script>
            function select(selector) {
            return document.querySelector(selector);
        }

        let countdown = select('.countdown');
        const output = countdown.innerHTML;

        const countDownDate = function() {
            let timeleft = new Date(countdown.getAttribute('data-count')).getTime() - new Date().getTime();

            let days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
            let hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            let minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
            let seconds = Math.floor((timeleft % (1000 * 60)) / 1000);

            countdown.innerHTML = output.replace('%d', days).replace('%h', hours).replace('%m', minutes).replace('%s', seconds);
        }

        countDownDate();
        setInterval(countDownDate, 1000);
        </script>
    </div>
    <div class="container" id="about">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit, debitis quae quis repellendus aliquid quam porro rem, laborum consequuntur error harum voluptates voluptate quos expedita numquam cumque et ut ratione.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique, distinctio deleniti? Unde corrupti accusantium minus mollitia blanditiis vel quod fugiat voluptatum cumque sit error commodi, rerum repudiandae natus? Architecto numquam minus voluptatibus perspiciatis eaque dignissimos consectetur dolorum similique quidem provident?</p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, et odit incidunt doloremque quisquam dignissimos saepe corrupti expedita adipisci. Harum?
            <ul>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
            </ul>
        </p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea placeat nisi explicabo ullam suscipit recusandae nobis dolore corrupti temporibus deleniti?</p>
        <a href="/register#register" class="register_btn">Register</a>
    </div>
    <div class="container" id="agenda">
        <h1>Agenda</h1>
        <div class="agenda__">
            <div class="agenda_box agenda__title">
                <div class="agenda_time agenda__thing">11:00 AM</div>
                <div class="agenda_detail agenda__thing">REGISTRATION</div>
            </div>
            <div class="agenda_box agenda__semi__title">
                <div class="agenda_time agenda__thing"></div>
                <div class="agenda_detail agenda__thing">Session 1</div>
            </div>
            <div class="agenda_box agenda__info">
                <div class="agenda_time agenda__thing">2:00 PM</div>
                <div class="agenda_detail agenda__thing">
                    <p class="agenda__detail_title">BREAKOUT ROOM 1: <strong>SAP: Cloud ERP & Business Transformation (Signavio)</strong></p>
                    <p>GROW with Premium Plus as a catalyst for Innovation.</p>
                    <p>Dumisani Moyo, Marketing Director at SAP</p>
                    <p>Andre Russell, Director Centre of Excellence EMEA at SAP</p>
                    <p>Tim Toussaint, Head of Business Transformation at SAP</p>
                </div>
            </div>
            <div class="agenda_box agenda__info">
                <div class="agenda_time agenda__thing">2:00 PM</div>
                <div class="agenda_detail agenda__thing">
                    <p class="agenda__detail_title">BREAKOUT ROOM 1: <strong>SAP: Cloud ERP & Business Transformation (Signavio)</strong></p>
                    <p>GROW with Premium Plus as a catalyst for Innovation.</p>
                    <p><strong>Dumisani Moyo</strong>, Marketing Director at SAP</p>
                    <p><strong>Andre Russell</strong>, Director Centre of Excellence EMEA at SAP</p>
                    <p><strong>Tim Toussaint</strong>, Head of Business Transformation at SAP</p>
                </div>
            </div>
            <div class="agenda_box agenda__semi__title">
                <div class="agenda_time agenda__thing"></div>
                <div class="agenda_detail agenda__thing">Session 2</div>
            </div>
            <div class="agenda_box agenda__info">
                <div class="agenda_time agenda__thing">2:00 PM</div>
                <div class="agenda_detail agenda__thing">
                    <p class="agenda__detail_title">BREAKOUT ROOM 1: <strong>SAP: Cloud ERP & Business Transformation (Signavio)</strong></p>
                    <p>GROW with Premium Plus as a catalyst for Innovation.</p>
                    <p>Dumisani Moyo, Marketing Director at SAP</p>
                    <p>Andre Russell, Director Centre of Excellence EMEA at SAP</p>
                    <p>Tim Toussaint, Head of Business Transformation at SAP</p>
                </div>
            </div>
            <div class="agenda_box agenda__info">
                <div class="agenda_time agenda__thing">2:00 PM</div>
                <div class="agenda_detail agenda__thing">
                    <p class="agenda__detail_title">BREAKOUT ROOM 1: <strong>SAP: Cloud ERP & Business Transformation (Signavio)</strong></p>
                    <p>GROW with Premium Plus as a catalyst for Innovation.</p>
                    <p><strong>Dumisani Moyo</strong>, Marketing Director at SAP</p>
                    <p><strong>Andre Russell</strong>, Director Centre of Excellence EMEA at SAP</p>
                    <p><strong>Tim Toussaint</strong>, Head of Business Transformation at SAP</p>
                </div>
            </div>
            <div class="agenda_box agenda__title">
                <div class="agenda_time agenda__thing">1:00 PM</div>
                <div class="agenda_detail agenda__thing">LUNCH</div>
            </div>
            <div class="agenda_box agenda__semi__title">
                <div class="agenda_time agenda__thing"></div>
                <div class="agenda_detail agenda__thing">Session 1</div>
            </div>
            <div class="agenda_box agenda__info">
                <div class="agenda_time agenda__thing">2:00 PM</div>
                <div class="agenda_detail agenda__thing">
                    <p class="agenda__detail_title">BREAKOUT ROOM 1: <strong>SAP: Cloud ERP & Business Transformation (Signavio)</strong></p>
                    <p>GROW with Premium Plus as a catalyst for Innovation.</p>
                    <p>Dumisani Moyo, Marketing Director at SAP</p>
                    <p>Andre Russell, Director Centre of Excellence EMEA at SAP</p>
                    <p>Tim Toussaint, Head of Business Transformation at SAP</p>
                </div>
            </div>
            <div class="agenda_box agenda__info">
                <div class="agenda_time agenda__thing">2:00 PM</div>
                <div class="agenda_detail agenda__thing">
                    <p class="agenda__detail_title">BREAKOUT ROOM 1: <strong>SAP: Cloud ERP & Business Transformation (Signavio)</strong></p>
                    <p>GROW with Premium Plus as a catalyst for Innovation.</p>
                    <p><strong>Dumisani Moyo</strong>, Marketing Director at SAP</p>
                    <p><strong>Andre Russell</strong>, Director Centre of Excellence EMEA at SAP</p>
                    <p><strong>Tim Toussaint</strong>, Head of Business Transformation at SAP</p>
                </div>
            </div>
            <div class="agenda_box agenda__semi__title">
                <div class="agenda_time agenda__thing"></div>
                <div class="agenda_detail agenda__thing">Session 2</div>
            </div>
            <div class="agenda_box agenda__info">
                <div class="agenda_time agenda__thing">2:00 PM</div>
                <div class="agenda_detail agenda__thing">
                    <p class="agenda__detail_title">BREAKOUT ROOM 1: <strong>SAP: Cloud ERP & Business Transformation (Signavio)</strong></p>
                    <p>GROW with Premium Plus as a catalyst for Innovation.</p>
                    <p>Dumisani Moyo, Marketing Director at SAP</p>
                    <p>Andre Russell, Director Centre of Excellence EMEA at SAP</p>
                    <p>Tim Toussaint, Head of Business Transformation at SAP</p>
                </div>
            </div>
            <div class="agenda_box agenda__info">
                <div class="agenda_time agenda__thing">2:00 PM</div>
                <div class="agenda_detail agenda__thing">
                    <p class="agenda__detail_title">BREAKOUT ROOM 1: <strong>SAP: Cloud ERP & Business Transformation (Signavio)</strong></p>
                    <p>GROW with Premium Plus as a catalyst for Innovation.</p>
                    <p><strong>Dumisani Moyo</strong>, Marketing Director at SAP</p>
                    <p><strong>Andre Russell</strong>, Director Centre of Excellence EMEA at SAP</p>
                    <p><strong>Tim Toussaint</strong>, Head of Business Transformation at SAP</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="speakers">
        <h1>Speakers</h1>
        <div class="speakers">
            <div class="speaker">
                <img src="assets/images/Speakers/Okwemba.jpeg" class="speaker__image" alt="">
                <h3>Stephen Okwemba</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
                <a href="https://www.linkedin.com/in/stephen-mwenje-914272142?miniProfileUrn=urn%3Ali%3Afs_miniProfile%3AACoAACKRAaABuOq2FWvih25nSxPvE4q6IWSQhec&lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_all%3Bf6wh158FRAebXVbRFPwJzg%3D%3D"><img src="assets/images/linkedin.png" class="linkedinlogo" alt=""></a>
            </div>
            <div class="speaker">
                <img src="assets/images/Speakers/Okwemba.jpeg" class="speaker__image" alt="">
                <h3>Stephen Okwemba</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
                <a href="https://www.linkedin.com/in/stephen-mwenje-914272142?miniProfileUrn=urn%3Ali%3Afs_miniProfile%3AACoAACKRAaABuOq2FWvih25nSxPvE4q6IWSQhec&lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_all%3Bf6wh158FRAebXVbRFPwJzg%3D%3D"><img src="assets/images/linkedin.png" class="linkedinlogo" alt=""></a>
            </div>
            <div class="speaker">
                <img src="assets/images/Speakers/Okwemba.jpeg" class="speaker__image" alt="">
                <h3>Stephen Okwemba</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
                <a href="https://www.linkedin.com/in/stephen-mwenje-914272142?miniProfileUrn=urn%3Ali%3Afs_miniProfile%3AACoAACKRAaABuOq2FWvih25nSxPvE4q6IWSQhec&lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_all%3Bf6wh158FRAebXVbRFPwJzg%3D%3D"><img src="assets/images/linkedin.png" class="linkedinlogo" alt=""></a>
            </div>
            <div class="speaker">
                <img src="assets/images/Speakers/Okwemba.jpeg" class="speaker__image" alt="">
                <h3>Stephen Okwemba</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
                <a href="https://www.linkedin.com/in/stephen-mwenje-914272142?miniProfileUrn=urn%3Ali%3Afs_miniProfile%3AACoAACKRAaABuOq2FWvih25nSxPvE4q6IWSQhec&lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_all%3Bf6wh158FRAebXVbRFPwJzg%3D%3D"><img src="assets/images/linkedin.png" class="linkedinlogo" alt=""></a>
            </div>
            <div class="speaker">
                <img src="assets/images/Speakers/Okwemba.jpeg" class="speaker__image" alt="">
                <h3>Stephen Okwemba</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
                <a href="https://www.linkedin.com/in/stephen-mwenje-914272142?miniProfileUrn=urn%3Ali%3Afs_miniProfile%3AACoAACKRAaABuOq2FWvih25nSxPvE4q6IWSQhec&lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_all%3Bf6wh158FRAebXVbRFPwJzg%3D%3D"><img src="assets/images/linkedin.png" class="linkedinlogo" alt=""></a>
            </div>
            <div class="speaker">
                <img src="assets/images/Speakers/Okwemba.jpeg" class="speaker__image" alt="">
                <h3>Stephen Okwemba</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
                <a href="https://www.linkedin.com/in/stephen-mwenje-914272142?miniProfileUrn=urn%3Ali%3Afs_miniProfile%3AACoAACKRAaABuOq2FWvih25nSxPvE4q6IWSQhec&lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_all%3Bf6wh158FRAebXVbRFPwJzg%3D%3D"><img src="assets/images/linkedin.png" class="linkedinlogo" alt=""></a>
            </div>
        </div>
    </div>
    <div class="container" id="venue">
        <h1>Event Venue</h1>
        <div class="venues">
            <div class="venue">
                <h4>Agile Business Solutions Limited</h4>
                <p>Jumuiya Place II, Lenana Road</p>
            </div>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8077204938004!2d36.79095187454166!3d-1.2896143356288643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f110731f45b1f%3A0x3e362c8addf9b46e!2sAgile%20Business%20Solutions%20Limited!5e0!3m2!1sen!2ske!4v1721290368717!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <footer>
        <div class="socials">
            Share & Follow 
            <a href="#"><img src="assets/images/facebook.png" alt=""></a>
            <a href="#"><img src="assets/images/x.png" alt=""></a>
            <a href="#"><img src="assets/images/ig.png" alt=""></a>
            <a href="#"><img src="assets/images/linkedin.png" alt=""></a>
        </div>
    </footer>
</body>
</html>
